blinker
certifi
charset-normalizer
click
colorama
easyocr
filelock
Flask
Flask-Cors
idnamageio1
itsdangerous
Jinja
lazy_loaderarkupSafe
mpmath
networkx
ninja1
numpy6
opencv-python
opencv-python-headless
packagingPillow
pyclipper
python-bidi
PyWavelets
PyYAML
requests
scikit-image
scipy
shapely
six0
sympy1
tifffile
torch
torchvision
typing_extensions
urllib
Werkzeug
gunicorn
